html, body, #container { height: 100%; }

html {font-size: 100%;}
@media (min-width: 40em) {
 html {font-size: 112.5%;}
}

header{
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 20px;
  background: white;
  height: 70px;
  color: black;
  font-weight: bold;
  text-align: left;
}


body {
  font-family: 'Open Sans',sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background:  white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body > section {
  padding: 10px;
}

div.navigationBand{
  height: 4%;
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.inputArea {

  margin-top: 1%;
  margin-bottom: 1%;
}

input{
  height: 20px;
  font-size: 15px;
}

input.inndata{
  width: 20%;
  min-width: 150px;
  display: inline-block;

}


img {
    padding: 0;
    display:inline;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    left:auto;
}

img.icon {
    padding: 0;
    display:inline;
    align-self:center;
    height: 20px;
    vertical-align: middle;
}


#container {
  height: auto;
  min-height: 90%;
}


.radioform{
  display: inline-block;
}

span {
  width: 20%;
  min-width: 150px;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
span.dataTip {
  width: 30px;
  min-width: 20px;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 20px;
  vertical-align: middle;
}


.ui-menu {
  background: white;
  display: block;
  width: 400px;
  border: 1px solid rgba(0, 0, 255, 0.1);
  z-index: 1000;
}

.ui-menu .ui-menu-item {
  padding: 10px;
}

.ui-menu .ui-state-focus {
  background:rgba(0, 0, 255, 0.1);
}

.ui-helper-hidden-accessible {
  display: none;
}

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid lightblue;
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
  min-width: 300px;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:lightblue;
	color:black;
	z-index:9;
	font-size: 0.75em;
	height:auto;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:pre-line;
	word-wrap:normal;

}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
